.sidebarItems:hover {
    -fx-background-color: #672886;
    -fx-border-color: white;
    -fx-border-width: 0px 0px 0px 5px;
}

.sidebarItems:selected {
    -fx-background-color: #4A1E6D; /* A darker shade of #672886 */
    -fx-border-color: white;
    -fx-border-width: 0px 0px 0px 5px;
}

.pane {
    -fx-fill:#FFFFF;
    -fx-border-color: #4A1E6D;
    -fx-background-radius: 30px 0px 0px 0px;
    -fx-border-radius: 0px 0px 30px 30px;

}

.dashboardButton:hover {
    -fx-background-color: #4A1E6D;
    -fx-font-weight: bold;
}

@font-face {
    font-family: 'Roboto';
}